{% extends 'base.html' %}

{% block title %}Editar Serviço{% endblock %}

{% block content %}

<h1>Editar Serviço</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Salvar</button>
</form>

{% if servico.anexos.all %}
    <h3>Anexos Atuais</h3>
    <ul>
        {% for anexo in servico.anexos.all %}
            <li>
                <a href="{{ anexo.arquivo.url }}" target="_blank">{{ anexo.arquivo.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

<a href="{% url 'detalhes-servico' servico.pk %}">Cancelar</a>

{% endblock %}