<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
</head>

<body>
    <h1>Lista de Clientes</h1>

    <ul>
        {% for cliente in clientes %}
        <li>
            <a href="{% url 'detalhes-cliente' cliente.id %}">
                {{ cliente.nome }} - {{ cliente.telefone }}
            </a>
        </li>
        {% empty %}
        <li>Nenhum cliente cadastrado.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'novo-cliente' %}">Novo Cliente</a>
</body>

</html>